<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContentFulComparisionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ContentFulComparisionTool.Properties.Settings>
            <setting name="GraphQlUrl" serializeAs="String">
                <value>https://graphql.contentful.com/content/v1/spaces/heqkjv7oz4lj/environments/</value>
            </setting>
            <setting name="ManagementApiKey" serializeAs="String">
                <value>CFPAT-4shYBeUOdEvAcUfrYT6a7JtOuTnH7ZcNVbNCyG__waA</value>
            </setting>
            <setting name="SpaceId" serializeAs="String">
                <value>heqkjv7oz4lj</value>
            </setting>
            <setting name="ReportPath" serializeAs="String">
                <value>c:\temp\report.html</value>
            </setting>
        </ContentFulComparisionTool.Properties.Settings>
    </userSettings>
</configuration>
